body {
    width: 100vw;
    height: 100vh;
}

.page {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.header h3 {
    font-weight: bold;
    margin: 5px 0px;
}

.header span {
    font-size: small;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0px;
}

.google {
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.apple {
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.separator {
    display: flex;
    flex-direction: row;
}

.separator hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span {
    margin: 0px 8px;
}

.form {
    margin: 15px 0px;
}

label {
    width: 100%;
}

#name, #mail, #pass {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 0px;
}

#option {
    margin-top: 10px;
    margin-bottom: 20px;
}

.continue {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 150px;
    background-color: blueviolet;
    color: white;
}

.image {
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1657632843433-e6a8b7451ac6?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8fDA%3D');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px;
    opacity: 0.7;
}